<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74913A71280AB5AD009D8321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74913A87280AB5AF009D8321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74913A91280AB5AF009D8321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74940ED8284CCE4B00D2B1F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
