<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7420DF7E27F1A38600B37F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7420DF8527F1A38700B37F52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7443457527EE3AEA007E645A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7450582827CF649D0016D126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E7CD1127B7C0D60026FB06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E7CD1B27B7C0D70026FB06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
